<h1>Welcome to NYC History!</h1>
<a href="/figures"><h2>See All Figures</h2></a>
<a href="/landmarks"><h2>See All Landmarks</h2>
<a href="/figures/new"><h2>Create a Figure</h2>
<a href="/landmarks/new"><h2>Create a Landmark</h2>
